@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/* Global dark mode background */
body {
  @apply bg-white dark:bg-neutral-950;
}

html {
  @apply bg-white dark:bg-neutral-950;
}
